


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}
a{
    background-color: red;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;

}